@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import 'bootstrap';
@import 'bootstrap-icons';

    body {
        background: url('C:\Users\utente\Dropbox\PC\Desktop\Cimmino Michele\Portfolio\public\img\pexels-anthony-rodriguez-10201813.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    

    p{
        font-family: 'Roboto' 'sans-serif';
        font-weight: 500;
        background-color: rgba(180, 170, 170, 0.6);
    }


    .Sfondo-Card-Header{
        background-color:rgb(139, 139, 139);
    }

    .height-h2{
        height: 100px;
        text-align:center;
        
    }

    header {
        position: relative;
        background-color: black;
        height: 75vh;
        min-height: 25rem;
        width: 100%;
        overflow: hidden;
    }
    
    header video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    
    header .container {
        position: relative;
        z-index: 2;
    }
    
    header .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.5;
        z-index: 1;
    }

    /* Animations  */
    .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes fadeInUp {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
        }
        @keyframes fadeInUp {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
        } 
    
        .fadeInLeft {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
        @-webkit-keyframes fadeInLeft {
            0% {
                opacity: 0;
                -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
            }
            100% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
        }
        }
        @keyframes fadeInLeft {
            0% {
                opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        }
        } 
    
        .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
        @-webkit-keyframes fadeInDown {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
        }
        @keyframes fadeInDown {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 

    .card-animation{
        transition: all 1s cubic-bezier(.215,.61,.355,1);
    }
    .card:hover{
        transform:scale(1.1);
    }
    /* Animista Animations for Carousel */
    .kenburns-top {
        animation: kenburns-top 3s ease-in infinite alternate both;
    }
    /* ----------------------------------------------
    * Generated by Animista on 2023-1-23 18:21:28
    * Licensed under FreeBSD License.
    * See http://animista.net/license for more info. 
    * w: http://animista.net, t: @cssanimista
    * ---------------------------------------------- */

    /**
    * ----------------------------------------
    * animation kenburns-top
    * ----------------------------------------
    */
    @keyframes kenburns-top {
        0% {
        transform: scale(1) translateY(0);
        transform-origin: 50% 16%;
        }
        100% {
        transform: scale(1.25) translateY(-15px);
        transform-origin: top;
        }
    }
    



    /* Sticky Footer Classes */
    
    /* Media Query for devices withi coarse pointers and no hover functionality */
        
    /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
    
    @media (pointer: coarse) and (hover: none) {
        header {
        background: url('/img/pexels-cottonbro-7319405.mp4') black no-repeat center center scroll;
        }
    
        header video {
        display: none;
        }
    }
